html {
    font-family: 'Rubik', sans-serif;
    color: white;
    background: black;
}

.gray {
    color: gray;
}

a {
    color: lightskyblue;
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.xl-text {
    font-size: 6vw;
}

.no-margin {
    margin: 0px !important;
}



/* Small */
@media screen and (max-width: 700px) {
    .l-container {
        margin: auto;
        width: 95%;
        padding: 1%;
    }

    .m-container {
        margin: auto;
        width: 95%;
        padding: 0.5%;
    }

    .s-container {
        margin: auto;
        width: 95%;
        padding: 0.5%;
    }

    .s-width {
        width: 90% !important;
    }

    .m-width {
        width: 90% !important;
    }

    .l-width {
        width: 90% !important;
    }
}

/* Large */
@media screen and (min-width: 701px) {
    .l-container {
        margin: auto;
        width: 70%;
        padding: 1%;
    }

    .m-container {
        margin: auto;
        width: 50%;
        padding: 1%;
    }

    .s-container {
        margin: auto;
        width: 25%;
        padding: 1%;
    }

    .s-width {
        width: 25% !important;
    }

    .m-width {
        width: 50% !important;
    }

    .l-width {
        width: 75% !important;
    }
}




@keyframes moving {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

.moving {
    position: relative;
    -webkit-animation: moving 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: moving 5s linear 2s infinite alternate;
}
