/***************************************** 
* Top nav
*****************************************/

.header-logo {
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo:hover {
  text-decoration: underline;
}

/* Large */
@media screen and (min-width: 701px) {
  .header-logo {
    font-size: 6vw;
  }
}


/* Small */
@media screen and (max-width: 700px) {
  .header-logo {
    font-size: 9vw;
  }
}

.nav-link {
  padding: 0px !important;
  margin: 0px !important;
  display: inline; 
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-select {
  padding: 0px !important;
  margin: 0px !important;
  display: inline; 
  text-decoration: underline;
}