/* .tl-container {
    
} */

.tl-container  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }

.tl-line {
    position: relative;
    max-width: 95%;
    list-style: none;
}

.tl-line:before {
    background-color: white;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }

.tl-event {
    position: relative;
}

.tl-last-event {
    background-color: black;
    position: relative;
}

.tl-icon {
    transform: rotate(45deg);
    background-color: black;
    outline: 10px solid white;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
    z-index: 3;
}

.tl-body {
    padding: 2em 2em 1.2em 2em;
    position: relative;
    top: -1.875em;
    left: 2em;
    width: 95%;
    border-right: 5px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tl-body:hover {
    outline: 0px solid transparent;
    border-right: 5px solid white;
    background-image: linear-gradient(to right, black , #4b4b4b);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.tl-date {
    position: relative;
    color: white;
    display: inline-block;
    z-index: 2;
    padding: 0.25em 1em 0.2em 4.2em;
}

.tl-description { 
    padding-bottom: 0.5em;
}